<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.rycus.rpiomxremote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="hu.rycus.rpiomxremote.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="hu.rycus.rpiomxremote.PlayerActivity"
            android:label="@string/title_activity_player"
            android:launchMode="singleTop"
            android:parentActivityName="MainActivity"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <service android:name="hu.rycus.rpiomxremote.RemoteService" />

        <receiver android:name=".ui.NotificationHelper" android:exported="true">
            <intent-filter>
                <action android:name="hu.rycus.rpiomxremote.NOTIFICATION_DELETED"/>
                <action android:name="hu.rycus.rpiomxremote.NOTIFICATION_BUTTON_CLICKED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.PlayerMediaReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
